.dropdown-tag{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: -6px;
        right: 30px;
        transform: rotate(45deg);
        background: #fff;
        z-index: 1;
    }
    &::after{
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: -7px;
        right: 30px;
        transform: rotate(45deg);
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
    }
    
}
.editIcons{
    background: transparent;
    border: none;
    position: absolute;
    top: -9px;
    right: -8px;
    &:hover{
        background: transparent;
    }
}