.btn{
    &.btn-sm{
        font-size: 1rem;
        font-weight: 600;
        line-height: 24px;
        padding: 0.5rem 0.5rem;
        min-height: 2.5rem;
        max-height: 2.5rem;
        border-radius: 4px;
    }
    &.btn-xsm{
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 21px;
        padding: 0.5rem 0.5rem;
        min-height: 1.625rem;
        max-height: 1.625rem;
    }
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 27px;
    // padding: 0.875rem 0.875rem;
    min-height: 3.5rem;
    max-height: 3.5rem;
    .btn-loader {
        width:18px;
        height:18px;
        border: 3px solid #afafaf;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    } 
}