.drawer-toggle ~ .drawer-side{
    &::-webkit-scrollbar{
        width: 1px;
    }
    &::-webkit-scrollbar-track{
        box-shadow: inset 0 0 6px oklch(var(--bc));
    }
    
}
:where(.menu li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title)):not(summary, .active, .btn):focus{
    color: oklch(var(--b1)) !important;
}

.main-container{
    // display: flex;
    // flex-direction: column;
    min-height: calc(100vh - 110px) !important;
    // height: calc(100vh - 110px) !important;
    overflow-y: hidden;
    @media (max-width:1024px) {
        margin-top: 90px;
    }
}

ul{

    &.side-menu{
        li{
            position: relative;
            
            a{
                color: rgba(#ffffff, 1) !important;
                background: none !important;
                img{
                    opacity: 1;
                    filter: brightness(0) invert(1);
                }
                &:active, &:focus, &:hover, &.active-tab{
                    color: oklch(var(--bc)) !important;
                    background: oklch(var(--sc)) !important;
                    &:before{
                        // content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 5px;
                        height: 57px;
                        background-color: oklch(var(--pc));
                    }
                    img{
                        opacity: 1;
                        filter: brightness(1) invert(1);
                    }
                }
                &:focus-visible{
                    outline: none;
                }
            }
            
            .side-sub-menu{
    transition: 0.5s all;

                margin-left: 15px;
                li {
                    position: relative;
                    
                    a{
                        background: none !important;
                        color: rgba(#ffffff, 1) !important;

                        &:active, &:focus, &:hover, &.active{
                            background: none !important;
                            color: oklch(var(--bc)) !important;
                            
                            &::before{
                                background-color: oklch(var(--pc));
                            }
                            img{
                                opacity: 1;
                                filter: brightness(1) invert(1);
                            }
                        }

                        &::before{
                            // content: '';
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            background-color: rgba(#ffffff, 0.5);
                            top: 17px;
                            left: 17px;
                            border-radius: 50%;
                        }
                        img{
                            opacity: 1;
                        }
                        
                    }
                }
            }
        }
    } 
}

.ArrowUp{
    rotate: 180deg;
    transition: 0.5s all;
}

.ArrowDown{
    rotate: 0deg;
    transition: 0.5s all;
}

.indicator{
    .counter{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            right: 0;
            width: 8px;
            height: 8px;
            background-image: url(../../assets/images/svg/indicator.svg); 
            border-radius: 50%;
        }
    }
}

.onlyIcons{
    .side-sub-menu{
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
}

.drawer-side{
    .menu{
        @media (max-width:1024px) {
            height: 100% !important;
        }
    }
}