.video-single {
	.videoPlayer {
		border-radius: 14px;
		overflow: hidden;
		.video-react-big-play-button-left {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 1px solid oklch(var(--p));
			background: oklch(var(--p));
			left: calc(50% - 25px);
			top: calc(50% - 25px);
			&::before {
				top: 2px;
			}
		}
	}
	.video_scroll {
		overflow-y: scroll;
		height: 78vh;
		width: 100%;
		@media (max-width: 1024px) {
			height: auto;
		}
	}
	.card {
		.card-title {
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}

// @media screen and (min-width: 1201px) {
// }
// @media screen and (max-width: 1200px) {
// }
// @media screen and (max-width: 1024px) {
// }
// @media screen and (max-width: 768px) {
// }

// @media screen and (max-width: 480px) {
// }

@media screen and (max-width: 480px) {
	.video-react {
		.video-react-control {
			width: 3em;
			font-size: 8px;
			align-content: center;
			&:before {
				// display: flex;
				// align-items: center;
			align-content: center;

			}
		}
		.video-react-menu-button-inline {
			&:before {
				width: 0;
			}
		}
		.video-react-time-control {
			padding-left: 0;
			padding-right: 0;
		}
	}
}


.video-react .video-react-control:before{
    font-size: 30px;
	margin-top: -7px;
}
.video-react .video-react-playback-rate .video-react-playback-rate-value, .video-react-time-control{
	font-size: 20px !important;
    margin-top: -13px !important;
}
.video-react-control-bar{
    height: 50px;
}

.video-react-control-bar{
font-size: 12px;
}