.modal{
    background: oklch(0 0 0 / 0.75) !important;
    .modal-box {
        border-radius: 24px;
        &::-webkit-scrollbar {
            width: 2px;
        }
         
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        }
         
        &::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px oklch(var(--inc)); 
        }
    }
    .modelSelect{
        min-height: 48px !important;
        max-height: 48px !important;
        width: 100%;
        border-radius: 0.5rem;
    }
}


.gallarySlider {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: transparent;
    .react-slideshow-container {
        .react-slideshow-fadezoom-images-wrap{
            
            .sliedshowImageWrapper{
                position: relative;
                max-width: 1250px;
                margin: 0 auto;
                img{
                    height: 90vh;
                    object-fit: contain;
                    background-color: #fff;
                    object-position: center;
                }
                .gallaryDecs{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 10px;
                    width: 100%;
                    background-color: #0008;
                }
            }
        }
        button{
            
            background-color: transparent !important;
            svg{
                fill : #00ACEE;
    
            }
            &:hover{
                background-color: transparent !important;
                opacity: 0.8;
            }

            &:disabled{
                opacity: 0.6;
            }
        }
    }
}