@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../assets/sass/variable.scss";
@import "../assets/sass/style.scss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

body {
  // color: rgb(var(--foreground-rgb));
  // background: linear-gradient(
  //     to bottom,
  //     transparent,
  //     rgb(var(--background-end-rgb))
  //   )
  //   rgb(var(--background-start-rgb));
}

.custom_scroll {
  overflow-y: scroll;
  height: 60vh;
  width: 100%;
}

.mobile-search {
  filter: brightness(0) invert(1);
}

.btn-search {
  img {
    margin-top: -2px;
  }
}
.listingCard {
  .decs {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 40px;
  }
}

.pdf-container {
  user-select: none;
}

.notifications {
  &.mobile {
    img {
      filter: brightness(0) invert(1);
    }
  }
}

.home-banner-image {
  aspect-ratio: 16 / 9;
  object-fit: contain;
  height: 78vh;
  width: 100%;
}

.drawer-button {
  img {
    filter: brightness(1) invert(1);
    @media (max-width: 1024px) {
      filter: brightness(0) invert(1);
    }
  }
}

.user-search .inputField div {
  margin-bottom: 0;
}

@media print {
  .pdf-container {
    display: none;
  }
}

.decs a {
  color: oklch(var(--p));
  word-break: break-all;
}

.rajat #react-doc-viewer {
  height: 100%;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
