.login-sidebar{
    background-image: url(../../assets/images/sidebarImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    @media (max-width:768px) {
        height: 50vh !important;
    }
}